{% extends 'base.html' %}
{% block head %}
<br>
<center><h3>Account settings 📓</h3></center>
<style type="text/css">
	.circle {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  font-size: 75px;
  text-align: center;
  color: white;
}
#profileicon {display:inline-block;margin-right:10px;} 
#postdetail {display:inline-block;}
</style>
<br>
{% endblock %}
{% block body %}
<br>
<center><div id="profileicon" class="circle" style="background-color:{{ color }} ;">{{ username[0].upper() }}</div></center>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <hr>
    <center>
    <h3 class="text-success">{{ message }}</h3>
    </center>
    <hr>
    {% endfor %}
  {% endif %}
{% endwith %}
<div style="padding: 15px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;"> 
<form class="form-group" style="padding: 20px;">
	<h3><p class="text-primary"><u>Account Information</u></p></h3>
	<h5 id="postdetail">Username :&nbsp;&nbsp;<a class="text-primary">{{ username }}</a></h5>
	<h5>Email :&nbsp;&nbsp;<a class="text-primary">{{ email }}</a></h5>
	<h5>Questions :&nbsp;&nbsp;<a class="text-primary">{{ posts }}</a></h5>
	<h5>Joined <span class="badge badge-dark"><a href="/posts" class="text-light">PyDev</a></span> on:&nbsp;&nbsp;<a class="text-primary">{{ created.strftime('%B %d %Y - %H:%M') }}</a></h5>
	<br>
	<a class="btn btn-primary" href="{{ url_for('changepassword') }}">Change password</a>
</form>
<hr>
<form style="padding:20px;">
<h3 class = "text-danger"><u>Danger Zone</u></h3>
<br>
<p class = "text-danger">Delete This Account</p>
<p>Deleting this account deletes all your <i class = "text-primary"> Posts,Activities,Profile </i>from our servers within 24 hours</p>
<a class="btn btn-danger" href="{{ url_for('delete_account') }}">Delete this account</a>
</div>
<br>
<br>
{% endblock %}