{% extends 'base.html' %}
{% block head %}
<br>
<h3 class="text-primary">Edit Your Question</h3>
{% endblock %}

{% block body %}
	<hr>
	<form action='/home/edit/{{post.id}}' method="POST">
		<label for="title">Tag:</label>
	    <input class="form-control" type="text" name="title" id="title" value="{{ post.title.lower() }}" aria-label="Enter title">
		<br>
		<label for="content">Question:</label>
    	<textarea class="form-control" name="content" id="content" aria-label="Enter content" rows="3">{{ post.content }}</textarea>
    	<br>
		<input class="btn btn-success"type="submit" value="Save">
	</form>
	<hr>
{% endblock %}