{% extends 'base.html' %}
{% block head %}
<h3>Comments</h3>
{% endblock %}

{% block body %}
	<hr>
	<p><h2>💬</h2></p>
	<form action='/comment/{{post.id}}' method="POST">
		<h4><label for="title">Post Title :<u class="text-danger"> {{ post.title }}</u></label></h4>
	    <input class="form-control" type="hidden" name="title" id="title" value="{{ post.id }}" aria-label="Enter title">
		<br>
		<h5><label for="content">Comment:</label></h5>
    	<textarea class="form-control" name="content" id="content" aria-label="Enter content" placeholder="Enter Comment" rows="3" required></textarea>
    	<br>
		<input class="btn btn-success"type="submit" id="addcomment" value="Add Comment 💬">
	</form>
	<hr>
{% endblock %}