{% extends 'base.html' %}
{% block head %}
<br>
<h2 style="color: blue">Change Password!</h2>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <hr>
    <h3 class="text-danger">{{ message }}</h3>
    <hr>
    {% endfor %}
  {% endif %}
{% endwith %}
	<hr>
	<form action='/changepassword' method="POST">
	<h4>
		<p>Your current password :&nbsp;&nbsp;{{ oldpassword }}</p>
		<br>
		<label for='newpassword'>New password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="password" name="newpassword" placeholder="Enter Newpassword"/ required>
		<br>
		<br>
		<label for='retypepassword'>Retype password&nbsp;&nbsp;</label>
		<input type="password" name="retypepassword" placeholder="Retype Newpassword"/ required>
		<br>
		<br>
		<input type="submit" value="Change Password" class="btn btn-success">
	</h4>
	</form>
	<hr>
{% endblock %}