{% extends 'base.html' %}

{% block head %}
<h2><center>Request Zipcode 🌈</center></h2>
<hr>
<style type="text/css">
	footer{
      padding: 10px 20px;
      background: black;
      color: white;
      }
</style>
{% endblock %}

{% block body %}
<center>
<img class="img-fluid" src="{{url_for('static', filename='static.png')}}"/>
<br>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<hr>
		<h3 class="text-danger">{{ message }}</h3>
	<hr>
	{% endfor %}
	{% endif %}
{% endwith %}
<form name="form1" method="POST" action="/temperature">
Country: <b style="color:blue;"> INDIA  </b> Zip Code <input type="number" name="zip" size="30" required>
<input type="submit" class = "btn btn-success" name="submit" value="submit">
</form>
<hr>
<footer>Developed by:&nbsp;<a class="text-primary" href="https://github.com/karthikeyansa/weather_app"> KARTHIKEYAN.S.A </a></footer>
</center>
{% endblock %}
